#header
	%h2 
		=@title
#content
	%h3
		-@subtitle
	%p 
		%a{:href => '/sponsors'}
			Sponsors
	%p
		%a{:href => '/sponsor/new'}	
			Create new sponsor
	%p
		%a{:href => '/slots'}
			Slot availability