!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
	%head
		%title
			= @title || 'Customer Administration'
		%meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
		%link{:rel => 'stylesheet', :href => '/global.css', :type => 'text/css', :media => 'all'}
	%body
		#top
			#top-content
				%h1 Customer Administration
				%ul#menu
					%li 
						%a{:href => "/"}
							Back to Main Menu
					%li 
						%a{:href => "/"}
							Sign In
		= yield
		#footer
			%img{:src => "/images/logo.png", :alt => "42 Claps"}
			%p.note
				This is a CRUD completeness experiment. Feel free to fork the code on Github. 
				