#header
	%h2 
		=@title
#content
	%h3 
		=@subtitle
	#show
		%fieldset.actions
			#actions_content
				%a.button{:href => "/customer/new" } Create new customer
		%table
			%thead
				%td.id	ID
				%td.company_name	Company Name
				%td.email	Email
			- @customers.each do |customer|
				%tr
					%td 
						=customer.id
					%td
						%a{:href => "/customer/show/#{customer.id}"}
							=customer.company_name
					%td
						=customer.email