#header
	%h2 
		=@title
	#subnav	
		%a{:href=>"/customers"}
			Show all
#content
	%h3
		=@subtitle
	#show
		%fieldset.actions
			#actions_content
				%a.button{:href => "/customer/edit/#{@customer.id}" } Edit
				%a.button{:href => "/customer/delete/#{@customer.id}" } Delete
		%fieldset
			%h4 Organization 
			%p.row
				%span.label ID
				%span.text 
					=@customer.id
		%fieldset
			%h4 Contact
			%p.row
				%span.label First Name
				%span.text 
					=@customer.first_name
			%p.row
				%span.label Last Name
				%span.text 
					=@customer.last_name
			%p.row
				%span.label Email Address
				%span.text 
					=@customer.email
			%p.row
				%span.label Phone Number
				%span.text 
					=@customer.phone